@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-creamy: #eff2f1;
  --color-MentGrean: #3b5d50;
  --color-Gray: #9daea7;
  --color-GrayBold: #6A6A6A;
  --color-Yellow: #f9bf29;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

